.services-page {
  padding: 100px 5%;
}

.services-page h1 {
  text-align: center;
  margin-bottom: 50px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
}

.service-card {
  padding: 30px;
  border-radius: 20px;

  background: rgba(255,255,255,.05);
  border: 1px solid rgba(255,255,255,.08);

  transition: .3s;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card h2 {
  margin-bottom: 15px;
}

.service-card p {
  color: #a1a1aa;
  margin-bottom: 20px;
}

.service-card button {
  border: none;
  padding: 12px 20px;
  border-radius: 10px;

  background: linear-gradient(
    90deg,
    #7c3aed,
    #06b6d4
  );

  color: white;
}