.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 5%;

  backdrop-filter: blur(20px);

  background: rgba(10, 10, 10, 0.35);

  transition: all 0.3s ease;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;

  background: #ffff;

font-family: "Geist Mono", "Geist Mono Fallback";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo span{
font-size: 1.5rem;
background: #d8ff4d;
font-family: "Instrument Serif", "Instrument Serif Fallback";
 -webkit-background-clip: text;
}



/* RIGHT SECTION */

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* HIRE BUTTON */

.hire-btn {
  padding: 12px 24px;

  border-radius: 999px;

  font-size: 0.95rem;
  font-weight: 600;

  background: #d8ff4d;;

  color: black;

  transition: 0.3s;
}

.hire-btn:hover {
  transform: translateY(-3px);

  box-shadow:
    0 10px 30px rgba(58, 237, 91, 0.35);
}

/* DESKTOP LINKS */

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #a1a1aa;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: white;
}

/* MENU */

.menu-icon {
  display: none;

  font-size: 1.4rem;
  cursor: pointer;

  color: white;
}

/* MOBILE MENU */

.mobile-menu {
  position: fixed;

  top: 80px;
  right: -100%;

  width: 280px;
  height: calc(100vh - 80px);

  background: rgba(10,10,10,.95);

  backdrop-filter: blur(20px);

  display: flex;
  flex-direction: column;

  padding: 2rem;

  gap: 1.5rem;

  transition: .4s ease;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu a {
  color: white;
  font-size: 1.1rem;
}

/* MOBILE */

@media (max-width: 768px) {

  .hire-btn {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}